

#footer{
	position: relative;

	.container{
		padding-top: 70px;
		padding-bottom: 50px;
		border-bottom: 1px solid lighten($colorGray, 30%);
		.logos img{

			margin-left: 10px;
			margin-bottom: 15px;
		}
		.menu{
			ul {
				padding: 0px;

				li{
					list-style:none;
					line-height: 25px;
					text-transform: $upper;

					&:last-child{
						margin-bottom: 20px;
					}
					a{	
						display: block;
						padding: 2px 10px;
						text-decoration: none;
						color:$colorGray;
						border-radius: 15px;
						font-size: $font-size;
						transition: all 0.3s ease;
						&:hover{ 
							background: $colorBlue;
							color: $colorWhite;

							span{
								color: $colorWhite;
							}

							i{
								color:$colorWhite;

								&:hover{
									color: lighten($colorGray, 15%);
								}

							}
						}

						span{
							color: $colorBlack;
							font-size: $font-size +4;
							text-transform: none;
						}
					}

				}
			}
			.g{
				margin-top: 30px;
			}

			@media screen and (max-width:480px), (min-width:480px) and (max-width: 762px){
					.g{
						margin-top: -10px;
					}
				}
		}

		.contact{
			ul {
				padding: 0px;
				li{
					list-style:none;
					line-height: 29px;
					text-transform: $upper;
					color: $colorGray;
					font-size: $font-size;
					padding: 0 10px;

					&:last-child{
						margin-bottom: 20px;
					}
					span{
						color: $colorBlack;
					}

					.cont{
						font-size: $font-size +4;
						text-transform: none;
					}
				}
			}
		}


		.newsLetter{

			ul {
				padding: 0px;
				li{
					list-style:none;
					line-height: 29px;
					padding: 0 10px;
					color: $colorBlack;
					font-size: $font-size +4;

					&:nth-child(2){
						text-transform: $upper;
						color: $colorGray;
						font-size: $font-size;
						margin-bottom: 5px;
					}

					&:last-child{
						margin-bottom: 20px;
					}
				}


				.search{
					@extend .searchButton;
					margin-left: 10px;
					

					&:hover{
						input, button{
							transition: all 0.3s ease;
							border-color: $colorOrange;
						}
						button{
							transition: all 0.3s ease;
							background-color: $colorOrange;
						}
					}					
				}
			}
		}
	}
}


	.bord{
		width: 0px;
		height: 0px;
		border-top:90px solid transparent;
		border-bottom: 90px solid $colorOrange;
		border-left: 140px solid $colorOrange;
		border-right: 140px solid transparent;
	
		position: absolute; 
		bottom: 0;
		left:0;
	}









#copyRight{
	position: relative;
	.container{
		p{
			color: $colorGray;
			font-size: $font-size;
			text-transform: $upper;
			margin-top: 15px;
			margin-bottom: 45px;
		}
	}

	.bord2{
		width: 0px;
		height: 0px;
		border-top:100px solid transparent;
		border-bottom: 100px solid $colorBlue;
		border-left: 150px solid transparent;
		border-right: 150px solid $colorBlue;
	
		position: absolute; 
		bottom: 0;
		right:0;
	}

}
