#pricing{
	.container{
		padding: 90px 0;

		
		h1{
			@include forFont;
			margin: 0;
		}

		.sticker{
			@include sticker;
		}

		.thumbnail{
			padding: 30px 0;
			margin-top:35px;
			transition: all 0.3s ease;
			
			&:hover{
				box-shadow: 0px 0px 70px $backgroundColorBlue;
			}

			h4{
				font-size: $font-size+6;
				text-transform: $upper;
				font-weight: bold;
				padding: 0 20px;
				position: relative;


				&:after{
					content:'';
					width: 38px;
					border:1px solid $colorOrange;
					position: absolute;
					bottom:-11;
					left:82;
				}
				
			}

			h5{
				border: 1px solid lighten($colorGray, 30%);
				border-left: transparent;
				border-right: transparent;
				font-size: $font-size+4;
				padding: 15px 20px;
				color: $colorGray;
				font-weight: 300;
				span{
					color:$colorOrange;
				}
			}

			p{

				font-size: $font-size+1;
				line-height:30px;
				padding: 35px 60px;
				margin-bottom:50px;
				color: $colorGray;
				text-align:center;

			}
		}
		button{
			@include button2($colorOrange);
			width: 141px;
			height: 46px;
			transition: all 0.4s ease;
			position: relative;
			top: -40px;
			
			&:hover{
				background-color: $colorBlue;
			}
		}
	}
}